*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    width: 43rem;
    height: 15rem;
    border: 4px solid black;
    background: blue;
    max-width: 50rem;
    margin: 5rem auto;
    position: relative;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    
}

.flex-container div{
    margin: 0.5rem;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}